.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    :global(.ant-pro-form-login-page-desc) {
        color: #FFF;
    }
}

.container {
    background-color: white;
    height: 100vh;
    :global(.ant-pro-form-login-page-desc) {
        color: rgba(255,255,255,0.65);
    }
}